<form name="updateTag">
  <div class="form-group">
    <label class="control-label">Name</label>
    <input type="text" class="form-control" ng-keyup="tagNameAlready(selectedTag.name)" placeholder="Tag Name" ng-model="selectedTag.name" ng-required="true">
  </div>
  <label class="control-label half-top add-bottom" ng-show="showAddView">
    <input type="checkbox" ng-model="tagType" ng-checked="tagType" ng-click="changeTagType()">  Make Freeform Tag
  </label>
  <div class="form-group" ng-hide="tagType">
    <label class="control-label">Lookup Values</label>
    <input id="tagSettingValues" ng-keyup="hasDuplicates(selectedTag.values)" type="text" class="form-control" placeholder="Enter Values Separated by Commas" ng-model="selectedTag.values" ng-list ng-required="!tagType">
  </div>
  <div class="alert alert-danger" ng-show="sameTagName && showAddView">
    {{'storage-client.tag-definition-exists' | translate}}
  </div>
  <div class="alert alert-danger" ng-show="duplicates">
    {{'storage-client.tag-values-always-unique' | translate}}
  </div>
  <div class="add-top add-bottom text-right hidden-xs">
    <!-- Indicates delete or destructive action -->
    <div ng-show="accessDenied">
      <div class="alert alert-danger text-left" role="alert">{{"storage-client.access-denied" | translate}}</div>
    </div>
    <button type="button" class="btn btn-danger pull-left" ng-hide="showAddView" ng-click="openConfirm()" ng-disabled="!updateTag.$valid">
      Delete <i class="fa fa-white fa-trash-o icon-right"></i>
    </button>
    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-primary" ng-click="updateOrAddTag()"
        ng-disabled="accessDenied || (sameTagName && showAddView) || duplicates || oldNameOfTag === selectedTag.name && oldValuesOfTag.toString() === selectedTag.values.toString()  || !updateTag.$valid">
      Save <i class="fa fa-white fa-check icon-right"></i>
    </button>
    <!-- Indicates cancel or non-destructive action -->
    <button type="button" class="btn btn-default" ng-click="resetView()">
      Cancel <i class="fa fa-white fa-times icon-right"></i>
    </button>
  </div>
</form>
