<div>
  <div ng-controller="ButtonsController">
    <div class="app-header add-bottom add-top">
      <div class="title-block">
        <h1 translate="storage-client.header"></h1>
        <div ng-controller="SubscriptionStatusController" class="store-status-2">
        <div id="subscription-status" subscription-status
             product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
             ng-model="subscriptionStatus.result" show-store-modal="showStoreModal"></div>
        </div>
      </div>  
      <div class="global-actions">
        
        <button class="btn btn-lg btn-primary" type="button" title="{{'storage-client.upload-file' | translate}}" ng-hide="statusDetails.code!==200 || fileListStatus.code===404" ng-click="uploadButtonClick()" ng-disabled="!(filesDetails.localFiles === false && !isTrashFolder())">
          <i class="fa fa-cloud-upload fa-lg"></i> <span translate="storage-client.upload-file"></span>
        </button>
        <button class="btn btn-lg btn-default" type="button" title="{{'storage-client.new-folder' | translate}}" ng-hide="statusDetails.code!==200 || fileListStatus.code===404" ng-click="newFolderButtonClick('md')" ng-disabled="isTrashFolder()">
          <i class="fa fa-plus fa-lg"></i> <span translate="storage-client.new-folder"></span>
        </button>
        <button type="button" title="select" ng-if="storageModal && !storageFull" class="btn btn-success btn-lg hidden-sm hidden-md hidden-lg" ng-click="selectButtonClick()" ng-hide="filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1">
            <span translate="common.select"></span> <i class="fa fa-check fa-white icon-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div>
    <div ng-controller="TagsFilterCtrl">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search for files or folders" ng-model="query">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-filter"></i> Filters</button>
        </span>
        </div>

        <div collapse="isCollapsed" class="content-box content-box-filters">
            <ng-include src="'partials/tagging/filter.html'"></ng-include>
        </div>
    <div>

	
  <div ng-controller="ButtonsController">
  	<div class="bar-wrapper half-top" id="files-toolbar" ng-hide="fileListStatus.code === 404">
  		<div class="bar">
  			<div class="col-sm-4">
          <span ng-class="filesDetails.checkedItemsCount > 0 ? 'hidden-xs' : ''">
      			<span class="ellipsed current-folder current-folder-icon" ng-show="!isTrashFolder()"><i class="fa fa-folder fa-lg"></i> {{fileListStatus.folder}}</span>
      			<span class="ellipsed current-folder current-folder-icon" ng-show="isTrashFolder()"><i class="fa fa-folder fa-lg"></i> Trash/{{fileListStatus.folder | trashItemFilter}}</span>
          </span>
  			</div>

  			<div class="col-sm-8 text-right">
          <span ng-show="filesDetails.checkedItemsCount > 0">
            <span translate="storage-client.selected-items" translate-values="{ count: filesDetails.checkedItemsCount }"></span>
          </span>
          <button type="button" title="select" ng-if="storageModal && !storageFull" class="btn btn-success btn-lg hidden-xs" ng-click="selectButtonClick()" ng-hide="filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1">
            <span translate="common.select"></span> <i class="fa fa-check fa-white icon-right"></i>
          </button>
  				<button type="button" class="btn btn-link" title="Download" ng-click="downloadButtonClick()" ng-hide="!(filesDetails.checkedCount > 0 && filesDetails.folderCheckedCount === 0) || filesDetails.localFiles === true"><i class="fa fa-cloud-download fa-2x"></i></button>
                <button type="button" class="btn btn-link" title="Tagging" ng-click="taggingButtonClick()" ng-hide="isTrashFolder() || !(filesDetails.checkedCount > 0 && filesDetails.folderCheckedCount === 0)"><i class="fa fa-tag fa-2x"></i></button>
                <button type="button" class="btn btn-link" title="Copy Url" ng-hide="isTrashFolder() || (filesDetails.checkedCount + filesDetails.folderCheckedCount === 0 || filesDetails.checkedCount + filesDetails.folderCheckedCount > 1) || filesDetails.localFiles === true" ng-click="copyUrlButtonClick('lg')"><i class="fa fa-link fa-2x"></i></button>
  				<button type="button" class="btn btn-link" title="Move To Trash" ng-click="trashButtonClick()" ng-hide="isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1) || filesDetails.localFiles === true"><i class="fa fa-trash-o fa-2x"></i></button>
          <button type="button" class="btn btn-link" title="Restore From Trash" ng-click="restoreButtonClick()" ng-hide="!isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1)"><i class="fa fa-trash-o fa-2x"></i><i class="fa fa-share"></i></button>
  				<button type="button" class="btn btn-link" title="Delete"  ng-click="deleteButtonClick()" ng-hide="!isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1)"><i class="fa fa-trash-o fa-2x"></i></button>
  			</div>
  		</div>
  	</div>

    <div class="row" ng-show="pendingOperations.length > 0">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading" ng-click="isPOCollapsed = !isPOCollapsed">
            <h3 class="panel-title">
              <span ng-hide="pendingOperations[0].actionFailed">{{'storage-client.pending-' + pendingOperations[0].action | translate}}...</span>
              <span ng-hide="!pendingOperations[0].actionFailed">{{statusDetails.message}}</span>
              <span class="pull-right"><i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!isPOCollapsed]"></i></span>
            </h3>
          </div>
          <div class="panel-body" ng-show="!isPOCollapsed">
            <table class="table">
              <tbody>
                <tr ng-repeat="item in pendingOperations">
                  <td ng-show="!item.actionFailed">{{'storage-client.pending-' + item.action | translate}}</td>
                  <td ng-show="item.actionFailed">{{'storage-client.failed-' + item.action | translate}}</td>
                  <td>{{item.name | trashItemFilter}}</td>
                  <td>
                    <span class="text-danger" ng-click="removePendingOperation(item)">
                      <i class="fa fa-times-circle-o"></i> <span translate="common.lremove"></span>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="UploadController">
  <div class="col-md-12">
    <div class="panel panel-info" ng-show="uploader.queue.length > 0">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title"><span translate="storage-client.upload-status"></span>: {{status.message}} <span class="pull-right"> <i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!isCollapsed]"></i></span></h3>
      </div>
      <div class="panel-body" ng-show="!isCollapsed">
        <table class="table">
          <tbody>
            <tr ng-repeat="item in uploader.queue">
              <td>{{item.file.name}}</td>
              <td nowrap>{{ item.file.size|fileSizeFilter }}</td>
              <td>
                <span style="float: right" class="inline-cancel" ng-show="item.isUploading" ng-click="removeItem(item)">
                  <i class="text-danger fa fa-times-circle-o cancel"></i>
                </span>
                <span class="text-danger" ng-show="!item.isUploading" ng-click="removeItem(item)">
                  <i class="fa fa-times-circle-o"></i> <span translate="common.lremove"></span>
                </span>

                <div class="progress inline-progress" ng-show="item.isUploading">
                  <div class="progress-bar progress-bar-striped progress-bar-success active"
                    role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1">
    <form id="uploadform">
      <input type="file" id="file" storage-file-select uploader="uploader" multiple>
    </form>
  </div>
</div>

<div ui-view></div>
<script type="text/ng-template" id="deleteModal.html">
    <form id="deleteForm">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
          <p>{{confirmationMessage}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
              <span translate="common.delete-forever"></span> <i class="fa fa-white fa-check icon-right"></i>
            </button>
            <button class="btn btn-default btn-fixed-width" ng-click="cancel()">
              <span translate="common.cancel"></span> <i class="fa fa-white fa-times icon-right"></i>
            </button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="newFolderModal.html">
    <form>
        <div class="modal-header">
          <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2 class="modal-title">{{'storage-client.new-folder' | translate}}</h2>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="newFolderInput" type="text" class="form-control" ng-model="folderName" focus-me="{{shouldBeOpen}}" placeholder="Enter Folder Name" ng-focus="duplicateFolderSpecified=false" autofocus="autofocus">
            <div ng-show="duplicateFolderSpecified">
              <div class="alert alert-warning" role="alert">{{"storage-client.duplicate-folder" | translate}}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-fixed-width" ng-click="ok()">
              <span translate="common.save"></span> <i class="fa fa-white fa-check icon-right"></i>
            </button>
            <button class="btn btn-default btn-fixed-width" ng-click="cancel()">
              <span translate="common.cancel"></span> <i class="fa fa-white fa-times icon-right"></i>
            </button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="copyUrl.html">
    <form>

        <div class="modal-body">
            <input id="okCopyButton" type="submit" value="x" class="close" ng-click="ok()" ng-hide="true"/>
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h5 class="ellipsed span12 text-left">Link To "{{copyFile.name}}"</h5>
            <input type="text" class="ellipsed form-control" id="copyUrlInput" autofocus="autofocus">
        </div>
        <div class="modal-footer">
        </div>
    </form>
</script>
<script type="text/ng-template" id="Tagging.html">

            <form name="timelineForm">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h2 class="modal-title">{{'storage-client.tagging' | translate}}</h2>
            </div>
            <div class="modal-body" id="MainTagView" ng-show="showMainTagView" autofocus="autofocus">
                <div>
                    <div id="lookup">
                    <button class="btn btn-link btn-remove pull-right" id="remove-all-tags" ng-click="clearAllLookupTags()" ng-disabled="clearLookupDisable">Clear All</button>
                        <label class="control-label">Lookup</label>
                        <div id="lookupEditBox" class="content-box-editable add-bottom content-box" ng-click="editLookup()">
                            <span class="edit-icon"><i class="fa fa-lg fa-pencil"></i></span>
                            <div class="text-muted" ng-show="tagGroups.lookupTags.length === 0" >Add Lookup</div>
                            <div class="label label-tag" ng-repeat="lookup in tagGroups.lookupTags">
                                {{ lookup.name }}: <span class="tag-value">{{ lookup.value }}</span>
                            </div>
                        </div><!-- active-tags -->
                    </div>
                    <div id="freeform">
                        <button class="btn btn-link btn-remove pull-right" ng-click="clearAllFreeFormTags()" ng-disabled="clearFreeformDisable">Clear All</button>
                        <label class="control-label">Freeform</label>
                        <div class="content-box-editable add-bottom content-box"  ng-click="editFreeform()">
                            <span class="edit-icon"><i class="fa fa-lg fa-pencil"></i></span>
                            <div class="text-muted" ng-show="tagGroups.freeformTags.length === 0">Add Freeform</div>
                            <div class="label label-tag" ng-repeat="freeform in tagGroups.freeformTags">
                                {{ freeform.name }}: <span class="tag-value">{{ freeform.value }}</span>
                            </div>
                        </div><!-- active-tags -->
                    </div>
                    <div id="timeline">
                        <button class="btn btn-link btn-remove pull-right" ng-click="clearAllTimelineTags()" ng-disabled="clearTimelineDisable">Clear All</button>
                        <label class="control-label">Timeline</label>
                        <div class="content-box-editable add-bottom content-box" ng-click="editTimeline()">
                            <span class="edit-icon"><i class="fa fa-lg fa-pencil"></i></span>
                            <div class="text-muted" ng-show="(tagGroups.timelineTag === undefined || tagGroups.timelineTag === null) &&
                            !(selectedFiles.length > 1 && (tagGroups.timelineTag === undefined || tagGroups.timelineTag === null) && noTimeline === false && timelineTagCount() > 0)">Add Timeline</div>
                            <div ng-hide="tagGroups.timelineTag === undefined || tagGroups.timelineTag === null" class="label label-tag" style="white-space:normal; margin-right:0">
                                <div ng-timeline-string ng-model="timelineTagObj"></div> <a href="#" class="remove-tag"></a>
                            </div>
                            <div ng-show="(selectedFiles.length > 1 && (tagGroups.timelineTag === undefined || tagGroups.timelineTag === null) && noTimeline === false && timelineTagCount() > 0)"
                                 class="label label-tag" style="white-space:normal; margin-right:0">
                                Multiple Timelines Selected <a href="#" class="remove-tag"></a>
                            </div>
                        </div><!-- active-tags -->
                    </div>
                </div>
            </div>
            <div class="modal-body" id="EditLookupTagView"  ng-show="showLookupEditView">
                <div ng-include="'partials/tagging/lookup-tags.html'"></div>
            </div>
            <div class="modal-body" id="EditFreeformTagView" ng-show="showFreeformEditView">
                <div>
                    <button class="btn btn-link btn-remove pull-right" id="remove-all-freeform-tags-edit" ng-click="clearAllFreeFormTags()">Clear All</button>
                    <label class="control-label add-bottom">Freeform
                    </label>
                </div>
                <div class="hidden-div" style="display: block;">
                    <div class="form-group half-bottom" ng-repeat="freeform in selectedFreeformTags">
                    <label class="control-label" style="text-transform:capitalize;">{{ freeform.name }}</label>
                    <input type="text" class="form-control" ng-keyup="freeformOnEnter($event.keyCode)" placeholder="Enter {{ freeform.name }}" ng-model="freeform.value">
                    </div>
                </div>
            </div>
            <div class="modal-body" id="EditTimelineTagView" ng-show="showTimelineEditView">
              <label class="control-label add-bottom">Timeline</label>
                <div class="timeline">

                    <div class="label label-tag half-bottom" style="white-space:normal" ng-timeline-string ng-model="selectedTimeline">
                    </div>

                    <section>
                        <label class="control-label half-bottom" for="everyday">
                            <input type="checkbox" ng-model="selectedTimeline.setDate" ng-true-value="true" ng-false-value="false" name="everyday" ng-click="initDates()"> <strong>Every Day</strong></label>
                        <div class="form-group row" ng-hide="selectedTimeline.setDate === 'true'">
                            <div class="col-sm-4">
                                <label class="control-label">Start Date</label>
                                <div class="form-group">

                                    <div class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="selectedTimeline.startDate" show-weeks="false" is-open="opened1" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" ng-required="editTimelineTagView || selectedTimeline.setDate === 'false'" close-text="Close" />
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDatePicker($event,'opened1')"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div><!--col-sm-6-->

                            <div class="col-sm-4">
                                <label class="control-label">End Date</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="selectedTimeline.endDate" show-weeks="false" is-open="opened2" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                                        <span class="input-group-btn">
                                          <button type="button" class="btn btn-default" ng-click="openDatePicker($event,'opened2')"><i class="fa fa-calendar"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div><!--col-sm-6-->
                            <div class="col-sm-12" ng-hide="selectedTimeline.endDate == null">
                                <label class="control-label" ><input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="selectedTimeline.trash"> Move file to Trash after End Date</label>
                            </div>
                        </div><!--row-->
                        <div class="alert alert-danger" ng-show="selectedTimeline.setDate === 'false' &&
                        (selectedTimeline.startDate.getMonth() > selectedTimeline.endDate.getMonth() ||
                        selectedTimeline.startDate.getFullYear() > selectedTimeline.endDate.getFullYear() ||
                        selectedTimeline.startDate.getDate() > selectedTimeline.endDate.getDate())">
                            Start Date must be before End Date.
                        </div>
                    </section>

                    <section>
                        <label class="control-label half-bottom" for="allDay">
                            <input type="checkbox" ng-model="selectedTimeline.setTime" ng-true-value="true" ng-false-value="false" name="allDay" ng-click="initTimes()"> <strong>All Day</strong></label>
                        <div class="row form-group" ng-hide="selectedTimeline.setTime === 'true'">
                            <div class="col-sm-4">
                                <label class="control-label">Start Time</label>
                                <div class="time-picker">
                                    <timepicker ng-model="selectedTimeline.startTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" mousewheel="false"></timepicker>
                                </div>
                            </div><!--col-sm-6-->
                            <div class="col-sm-4">
                                <label class="control-label">End Time</label>
                                <div class="time-picker">
                                    <timepicker ng-model="selectedTimeline.endTime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" mousewheel="false"></timepicker>
                                </div>
                            </div><!--col-sm-6-->
                        </div>
                        <div class="alert alert-danger" ng-show="selectedTimeline.setTime === 'false' && selectedTimeline.startTime > selectedTimeline.endTime">
                            Start Time must be before End Time.
                        </div>
                    </section>

                    <section>

                        <label class="control-label half-bottom"><strong>Duration</strong></label>
                        <div class="form-group">
                            <label ng-repeat="duration in durations" for="{{duration.value}}" class="control-label add-right">
                                <input type="radio"
                                       ng-model="selectedTimeline.pud"
                                       value="{{duration.value}}"
                                       id="{{duration.value}}"
                                       name="time"
                                       ng-click="switchPUD()">
                                {{duration.text}}
                            </label>
                        </div>
                        <div class="form-group">
                            <input ng-model="selectedTimeline.duration" type="text" class="form-control" style="width:80px" value="60" ng-disabled="selectedTimeline.pud === 'true'" ng-required="editTimelineTagView">
                            <label class="control-label half-top"><input type="checkbox" ng-model="selectedTimeline.carryon" ng-true-value="true" ng-false-value="false"> Carry On</label>
                        </div>

                    </section>

                    <section>
                        <label class="control-label half-bottom" for="everyday">
                            <input type="checkbox" ng-model="selectedTimeline.timelineRecurrence" name="recurrence" ng-true-value="true" ng-false-value="false" ng-click="defaultRecurrence()"> <strong>Recurrence</strong></label>

                        <div ng-show="selectedTimeline.timelineRecurrence === 'true'">

                            <div class="form-group">
                                <label ng-repeat="name in names" for="{{name.toLowerCase()}}" class="add-right control-label">
                                    <input type="radio"
                                           ng-model="selectedTimeline.recurrenceType"
                                           value="{{name.toLowerCase()}}"
                                           id="{{name.toLowerCase()}}"
                                           name="preset"
                                           ng-click="resetRecurrences(name.toLowerCase())">
                                    {{name}}
                                </label>
                            </div>
                            <div class="recurrence-option half-top">
                                <div ng-show="selectedTimeline.recurrenceType.toLowerCase() === 'daily'">
                                    <div class="form-group">
                                        <label class="control-label">Every</label>
                                        <input type="text" class="form-control input-short" ng-model="selectedTimeline.recurrenceFrequency"
                                               ng-required="selectedTimeline.timelineRecurrence === 'true'">
                                        <label class="control-label">Day(s)</label>
                                    </div><!--form group-->
                                </div>
                                <div ng-show="selectedTimeline.recurrenceType.toLowerCase() === 'weekly'">
                                    <div class="form-group">
                                        <label class="control-label">Every</label>
                                        <input type="text" class="form-control input-short" ng-model="selectedTimeline.recurrenceFrequency"
                                               ng-required="selectedTimeline.timelineRecurrence === 'true'">
                                        <label class="control-label">Week(s)</label>
                                    </div>
                                    <div class="form-group timelineWeekdays">
                                        <label class="control-label" ng-repeat="dayName in optionsDay">
                                            <input type="checkbox" value="{{dayName.toLowerCase()}}"
                                                   ng-checked="selectedTimeline.daySelection.indexOf(dayName.toLowerCase().substring(0,3)) > -1" ng-click="toggleSelection(dayName)">
                                            {{dayName}}
                                        </label>
                                    </div><!--form-group-->
                                </div>
                                <div ng-show="selectedTimeline.recurrenceType.toLowerCase() === 'monthly'">
                                    <div class="form-group">
                                        <label class="control-label"><input ng-model="selectedTimeline.recurrenceAbsolute" value="true" type="radio"> Day</label>
                                        <input type="text" class="form-control input input-short" ng-model="selectedTimeline.recurrenceDayOfMonth" ng-disabled="selectedTimeline.recurrenceAbsolute == 'false'">
                                        <label class="control-label">of Every</label>
                                        <input type="text" class="form-control input-short" ng-model="selectedTimeline.recurrenceFrequency"
                                               ng-disabled="selectedTimeline.recurrenceAbsolute == 'false'"
                                               ng-required="selectedTimeline.timelineRecurrence === 'true'">
                                        <label class="control-label">Month(s)</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"><input ng-model="selectedTimeline.recurrenceAbsolute" value="false" type="radio"> The</label>
                                        <select class="form-control" ng-model="selectedTimeline.recurrenceWeekOfMonth" ng-disabled="selectedTimeline.recurrenceAbsolute == 'true'">
                                            <option ng-repeat="option in optionsWeek" value="{{$index}}" ng-selected="{{$index}} === selectedTimeline.recurrenceWeekOfMonth">{{option}}</option>
                                        </select>
                                        <select class="form-control" ng-model="selectedTimeline.recurrenceDayOfWeek" ng-disabled="selectedTimeline.recurrenceAbsolute == 'true'">
                                            <option ng-repeat="option in optionsDay" value="{{$index}}" ng-selected="{{$index}} === selectedTimeline.recurrenceDayOfWeek">{{option}}</option>
                                        </select>
                                        <label class="control-label">of Every</label>
                                        <input type="text" class="form-control input-short" ng-model="selectedTimeline.recurrenceFrequency"
                                               ng-disabled="selectedTimeline.recurrenceAbsolute == 'true'"
                                               ng-required="selectedTimeline.timelineRecurrence === 'true'">
                                        <label class="control-label">Month(s)</label>
                                    </div><!--form-group-->
                                </div>

                                <div ng-show="selectedTimeline.recurrenceType.toLowerCase() == 'yearly'">
                                    <div class="form-group">
                                        <label class="control-label"><input type="radio" ng-model="selectedTimeline.recurrenceAbsolute" value="true"> Every</label>
                                        <select class="form-control" ng-model="selectedTimeline.recurrenceMonthOfYear" ng-disabled="selectedTimeline.recurrenceAbsolute == 'false'">
                                            <option ng-repeat="option in optionsMonth" value="{{$index}}" ng-selected="{{$index}} === selectedTimeline.recurrenceMonthOfYear">{{option}}</option>
                                        </select>
                                        <input type="text" class="form-control input input-short" ng-model="selectedTimeline.recurrenceDayOfMonth"
                                               ng-disabled="selectedTimeline.recurrenceAbsolute == 'false'"
                                               ng-required="selectedTimeline.timelineRecurrence === 'true'">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label"><input type="radio" ng-model="selectedTimeline.recurrenceAbsolute" value="false"> The</label>
                                        <select class="form-control" ng-model="selectedTimeline.recurrenceWeekOfMonth" ng-disabled="selectedTimeline.recurrenceAbsolute == 'true'">
                                            <option ng-repeat="option in optionsWeek" value="{{$index}}" ng-selected="{{$index}} === recurrenceWeekOfMonth">{{option}}</option>
                                        </select>
                                        <select class="form-control" ng-model="selectedTimeline.recurrenceDayOfWeek" ng-disabled="selectedTimeline.recurrenceAbsolute == 'true'">
                                            <option ng-repeat="option in optionsDay" value="{{$index}}" ng-selected="{{$index}} === recurrenceDayOfWeek">{{option}}</option>
                                        </select>
                                        <label class="control-label">of</label>
                                        <select class="form-control" ng-model="selectedTimeline.recurrenceMonthOfYear" ng-disabled="selectedTimeline.recurrenceAbsolute == 'true'">
                                            <option ng-repeat="option in optionsMonth" value="{{$index}}" ng-selected="{{$index}} === recurrenceMonthOfYear">{{option}}</option>
                                        </select>
                                    </div><!--form-group-->
                                </div>
                            </div>

                        </div><!--timeline-recurrence-->
                    </section>
                </div><!--timeline-->
            </div>
            <div class="modal-footer">
                <div class="button-wrapper text-right" ng-show="!showMainTagView">
                    <button class="btn btn-primary btn-fixed-width" ng-disabled="(invalidLookupTag && showLookupEditView) || (changedLookup && showLookupEditView) ||
                    (selectedTimeline.setDate === 'false' &&
                        (selectedTimeline.startDate.getMonth() > selectedTimeline.endDate.getMonth() ||
                        selectedTimeline.startDate.getFullYear() > selectedTimeline.endDate.getFullYear() ||
                        selectedTimeline.startDate.getDate() > selectedTimeline.endDate.getDate()) && showTimelineEditView) ||
                        (selectedTimeline.setTime === 'false' && selectedTimeline.startTime > selectedTimeline.endTime && showTimelineEditView) ||
                    (!selectedTimeline.startDate && selectedTimeline.setDate === 'false') || !timelineForm.$valid || waitForResponse" ng-click="saveChangesFromView()">Apply <i class="fa fa-check"></i></button>
                    <button class="btn btn-default btn-fixed-width" ng-disabled="waitForResponse"  ng-click="resetView()">Cancel <i class="fa fa-times"></i></button>
                </div>
            </div>
            </form>
        

</script>

<script id="template/datepicker/day.html" type="text/ng-template">
  <table role="grid" aria-labelledby="{{uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
      <thead>
      <tr>
          <th><button type="button" class="btn btn-default btn-sm pull-left" ng-click="move(-1)" tabindex="-1"><i class="fa fa-chevron-left"></i></button></th>
          <th colspan="{{5 + showWeeks}}"><button id="{{uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm" ng-click="toggleMode()" tabindex="-1" style="width:100%;"><strong>{{title}}</strong></button></th>
          <th><button type="button" class="btn btn-default btn-sm pull-right" ng-click="move(1)" tabindex="-1"><i class="fa fa-chevron-right"></i></button></th>
      </tr>
      <tr>
          <th ng-show="showWeeks" class="text-center"></th>
          <th ng-repeat="label in labels track by $index" class="text-center"><small aria-label="{{label.full}}">{{label.abbr}}</small></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in rows track by $index">
          <td ng-show="showWeeks" class="text-center h6"><em>{{ weekNumbers[$index] }}</em></td>
          <td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{dt.uid}}" aria-disabled="{{!!dt.disabled}}">
              <button type="button" style="width:100%;" class="btn btn-default btn-sm" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-muted': dt.secondary, 'text-info': dt.current}">{{dt.label}}</span></button>
          </td>
      </tr>
      </tbody>
  </table>
</script>

<script id="template/datepicker/popup.html" type="text/ng-template">
  <ul class="dropdown-menu date-picker" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px'}" ng-keydown="keydown($event)" style="padding:5px;">
      <li ng-transclude></li>
  </ul>
</script>

<script id="template/timepicker/timepicker.html" type="text/ng-template">
  <table>
      <tbody>
      <tr class="text-center">
          <td><a ng-click="incrementHours()" class="btn btn-link"><span class="fa fa-chevron-up"></span></a></td>
          <td>&nbsp;</td>
          <td><a ng-click="incrementMinutes()" class="btn btn-link"><span class="fa fa-chevron-up"></span></a></td>
          <td ng-show="showMeridian"></td>
      </tr>
      <tr>
          <td style="width:50px;" class="form-group" ng-class="{'has-error': invalidHours}">
              <input type="text" ng-model="hours" ng-change="updateHours()" class="form-control text-center" ng-mousewheel="incrementHours()" ng-readonly="readonlyInput" maxlength="2">
          </td>
          <td>:</td>
          <td style="width:50px;" class="form-group" ng-class="{'has-error': invalidMinutes}">
              <input type="text" ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center" ng-readonly="readonlyInput" maxlength="2">
          </td>
          <td ng-show="showMeridian"><button type="button" class="btn btn-default text-center" ng-click="toggleMeridian()">{{meridian}}</button></td>
      </tr>
      <tr class="text-center">
          <td><a ng-click="decrementHours()" class="btn btn-link"><span class="fa fa-chevron-down"></span></a></td>
          <td>&nbsp;</td>
          <td><a ng-click="decrementMinutes()" class="btn btn-link"><span class="fa fa-chevron-down"></span></a></td>
          <td ng-show="showMeridian"></td>
      </tr>
      </tbody>
  </table>
</script>
