<div ng-controller="PublicReadController"></div>

<div ng-controller="UploadController">
  <div class="content-box" ng-show="uploader.queue.length > 0">
    <div class="content-box-body">
      <div ng-click="isCollapsed = !isCollapsed">
        <p>
          <strong translate="storage-client.upload-status"></strong>:
          <span ng-show="activeUploadCount() === 1" translate="storage-client.uploading-one-file"></span>
          <span ng-show="activeUploadCount() !== 1" translate="storage-client.uploading-count-files" translate-values="{ count: activeUploadCount() }"></span>
          <span class="pull-right">
            <i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!isCollapsed]"></i>
          </span>
        </p>
        <hr>
      </div>
      <div ng-show="!isCollapsed">
        <div ng-repeat="item in uploader.queue">
          <p>
            {{item.file.name}}
            <span class="text-muted add-left add-right"> {{ item.file.size|fileSizeFilter }}</span>
            <a href="#" ng-click="removeItem(item)">
              <span translate="common.lremove"></span>
            </a>
          </p>
          <div class="progress inline-progress">
            <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar"
                 ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1">
    <form id="uploadform">
      <input type="file" id="file" storage-file-select uploader="uploader" multiple>
    </form>
  </div>
</div>

<div ui-view></div>
