<div>
  <div ng-controller="ButtonsController">
    <div class="app-header">
      <div class="title-block">
        <h1 translate="storage-client.header"></h1>
        <div ng-controller="SubscriptionStatusController" class="store-status">
        <div id="subscription-status" subscription-status
             product-id="{{productId}}" product-code="{{productCode}}" company-id="{{companyId}}"
             ng-model="subscriptionStatus.result"></div>
        </div>
      </div>  
      <div class="global-actions">
        
        <button class="btn btn-lg btn-primary" type="button" title="{{'storage-client.upload-file' | translate}}" ng-hide="statusDetails.code!==200 || fileListStatus.code===404" ng-click="uploadButtonClick()" ng-disabled="!(filesDetails.localFiles === false && !isTrashFolder())">
          <i class="fa fa-cloud-upload fa-lg"></i> <span translate="storage-client.upload-file"></span>
        </button>
        <button class="btn btn-lg btn-default" type="button" title="{{'storage-client.new-folder' | translate}}" ng-hide="statusDetails.code!==200 || fileListStatus.code===404" ng-click="newFolderButtonClick('md')" ng-disabled="isTrashFolder()">
          <i class="fa fa-plus fa-lg"></i> <span translate="storage-client.new-folder"></span>
        </button>
      </div>
    </div>
  </div>
  
  <div>
    <div class="row row-no-padding">
      <div class="col-lg-12">
        <div class="form-group search-bar left-inner-addon">
        	<i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Search for a File or Folder" ng-model="query">
          <span class="input-group-btn">
          </span>
        </div>
      </div>
    </div>
  </div>
	
  <div ng-controller="ButtonsController">
  	<div class="bar-wrapper" id="files-toolbar" ng-hide="fileListStatus.code === 404">
  		<div class="bar">
  			<div class="col-sm-6">
          <span ng-class="filesDetails.checkedItemsCount > 0 ? 'hidden-xs' : ''">
      			<span class="ellipsed current-folder current-folder-icon" ng-show="!isTrashFolder()"><i class="fa fa-folder fa-lg"></i> {{fileListStatus.folder}}</span>
      			<span class="ellipsed current-folder current-folder-icon" ng-show="isTrashFolder()"><i class="fa fa-folder fa-lg"></i> Trash/{{fileListStatus.folder | trashItemFilter}}</span>
          </span>
  			</div>

  			<div class="col-sm-6 text-right">
          <span ng-show="filesDetails.checkedItemsCount > 0">
            <span translate="storage-client.selected-items" translate-values="{ count: filesDetails.checkedItemsCount }"></span>
          </span>
          <button type="button" title="select" ng-if="storageModal && !storageFull" class="btn btn-success btn-lg hidden-xs" ng-click="selectButtonClick()" ng-disabled="filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1">
            <span translate="common.select"></span> <i class="fa fa-check fa-white icon-right"></i>
          </button>
  				<button type="button" class="btn btn-lg" ng-click="downloadButtonClick()" ng-hide="isTrashFolder() || !(filesDetails.checkedCount > 0 && filesDetails.folderCheckedCount === 0 && filesDetails.localFiles === false)"><i class="fa fa-cloud-download fa-lg"></i></button>
  				<button type="button" class="btn btn-lg" ng-click="trashButtonClick()" ng-hide="isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1)"><i class="fa fa-trash-o fa-lg"></i></button>
          <button type="button" class="btn btn-lg" ng-click="restoreButtonClick()" ng-hide="!isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1)"><i class="fa fa-trash-o fa-lg"></i><i class="fa fa-share"></i></button>
  				<button type="button" class="btn btn-lg" ng-click="deleteButtonClick()" ng-hide="!isTrashFolder() || (filesDetails.checkedCount < 1 && filesDetails.folderCheckedCount < 1)"><i class="fa fa-trash-o fa-lg"></i></button>
  			</div>
  		</div>
  	</div>

    <div class="row" ng-show="pendingOperations.length > 0">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading" ng-click="isPOCollapsed = !isPOCollapsed">
            <h3 class="panel-title">
              <span ng-hide="pendingOperations[0].failed">{{'storage-client.pending-' + pendingOperations[0].action | translate}}...</span>
              <span ng-hide="!pendingOperations[0].failed">{{'storage-client.failed-' + pendingOperations[0].action | translate}}</span>
              <span class="pull-right"><i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!isPOCollapsed]"></i></span>
            </h3>
          </div>
          <div class="panel-body" ng-show="!isPOCollapsed">
            <table class="table">
              <tbody>
                <tr ng-repeat="item in pendingOperations">
                  <td ng-show="!item.actionFailed">{{'storage-client.pending-' + item.action | translate}}</td>
                  <td ng-show="item.actionFailed">{{'storage-client.failed-' + item.action | translate}}</td>
                  <td>{{item.name | trashItemFilter}}</td>
                  <td>
                    <span class="text-danger" ng-click="removePendingOperation(item)">
                      <i class="fa fa-times-circle-o"></i> <span translate="common.lremove"></span>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-controller="UploadController">
  <div class="col-md-12">
    <div class="panel panel-info" ng-show="uploader.queue.length > 0">
      <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
        <h3 class="panel-title"><span translate="storage-client.upload-status"></span>: {{status.message}} <span class="pull-right"> <i class="fa" ng-class="{false: 'fa-chevron-up', true:'fa-chevron-down'}[!isCollapsed]"></i></span></h3>
      </div>
      <div class="panel-body" ng-show="!isCollapsed">
        <table class="table">
          <tbody>
            <tr ng-repeat="item in uploader.queue">
              <td>{{item.file.name}}</td>
              <td nowrap>{{ item.file.size|fileSizeFilter }}</td>
              <td>
                <span style="float: right" class="inline-cancel" ng-show="item.isUploading" ng-click="item.remove()">
                  <i class="text-danger fa fa-times-circle-o cancel"></i>
                </span>
                <span class="text-danger" ng-show="!item.isUploading" ng-click="item.remove()">
                  <i class="fa fa-times-circle-o"></i> <span translate="common.lremove"></span>
                </span>

                <div class="progress inline-progress" ng-show="item.isUploading">
                  <div class="progress-bar progress-bar-striped progress-bar-success active"
                    role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1">
    <form id="uploadform">
      <input type="file" id="file" nv-file-select="" uploader="uploader" multiple />
    </form>
  </div>
</div>

<div ui-view></div>
<script type="text/ng-template" id="deleteModal.html">
    <form id="deleteForm">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
              <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="modal-body">
          <p>{{confirmationMessage}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">
              <span translate="common.delete-forever"></span> <i class="fa fa-white fa-check icon-right"></i>
            </button>
            <button class="btn btn-default btn-fixed-width" ng-click="cancel()">
              <span translate="common.cancel"></span> <i class="fa fa-white fa-times icon-right"></i>
            </button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="newFolderModal.html">
    <form>
        <div class="modal-header">
          <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">
            <i class="fa fa-times"></i>
          </button>
          <h2 class="modal-title">{{'storage-client.new-folder' | translate}}</h2>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input id="newFolderInput" type="text" class="form-control" ng-model="folderName" focus-me="{{shouldBeOpen}}" placeholder="Enter Folder Name" ng-focus="duplicateFolderSpecified=false">
            <div ng-show="duplicateFolderSpecified">
              <div class="alert alert-warning" role="alert">{{"storage-client.duplicate-folder" | translate}}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-fixed-width" ng-click="ok()">
              <span translate="common.save"></span> <i class="fa fa-white fa-check icon-right"></i>
            </button>
            <button class="btn btn-default btn-fixed-width" ng-click="cancel()">
              <span translate="common.cancel"></span> <i class="fa fa-white fa-times icon-right"></i>
            </button>
        </div>
    </form>
</script>
